*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* navbar styling */

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: maroon;
    justify-content:flex-end;
    align-items: center;
    padding: 0.5rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    /* padding: 0 2rem; */
    /* margin: auto; */
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    padding:  0 0.75rem;
    
}
.navbar ul li a:hover{
    background: rgb(223, 66, 38);
    padding: 0.5rem 0;
    /* margin: 0 0.25rem; */
    color: #333;
    border: none;
    border-radius: 5px;
}
.btn{
    color:#333;
    padding: 0.5rem ;
    border: none;
    border-radius: 2px;
    /* justify-self: center; */
    
}
.btn:hover{
    background: #333;
    color: #fff;
}
/* home styling */
#home{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
#home .home-content{
    color: maroon;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}
#home .home-content ul{
    list-style: none;
}
#home .home-content ul li a{
    text-decoration: none;
    color: #fff;
    background: maroon;
    font-size: 13px;
    padding:  0.2rem 1rem;
    border: none;
    border-radius: 3px;
}
#home .home-img{
    width: 300px;
}
/* gallery styling */

#gallery-content .gallery-info{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 20px;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
}
#gallery-content .gallery-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0.75rem;
    /* align-items: center;
    justify-content: center; */
    padding: 0 2rem;
}
 #gallery-content .content-info{
text-align: center;
line-height: 1.5rem;
}
#gallery-content .content-info .btn-btn{
    color:#fff;
    background: maroon;
    border: none;
    border-radius: 2px;
    padding: 0.2rem 1rem;
    font-size: 13px;
    margin-bottom: 2rem;
}
/* blog styling*/
#blog-content{
    background: rgb(238, 236, 236);
}
#blog-content .blog-info{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 20px;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    
}
#blog-content .blog-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0.75rem;
    /* align-items: center;
    justify-content: center; */
    padding: 0 2rem;
}
 #blog-content .content-info{
text-align: center;
line-height: 1.5rem;
}
#blog-content .content-info .btn-btn{
    color:#fff;
    background: maroon;
    border: none;
    border-radius: 2px;
    padding: 0.2rem 1rem;
    font-size: 13px;
    margin-bottom: 1rem;
}
/* about styling */
#about{
    background: rgb(238, 236, 236);
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* margin-bottom: 1rem; */
    
    
}
#about .about-content{
color: maroon;
line-height: 1rem;
padding: 1rem 3rem;
margin-top: 3rem;
}
#about .about-content h3,p{
    margin-bottom: 1rem;
}
#about .about-img{
justify-self: end;
padding: 3rem;
border-radius: 50%;
}
/* footer styling */

#footer-container{
 background: maroon;
 color: #fff;   
 display: grid;
 grid-template-columns: 2fr 1fr 1fr 2fr;
 /* align-items: center; */
 justify-content: center;
 height: 40vh;
 padding: 2rem;
}

#footer-container .footer-bay{
    padding-right: 2rem;
}

#footer-container .footer-contact ul{
    list-style: none;
    line-height: 1.3rem;
}

#footer-container .footer-link ul{
    list-style: none;
}
#footer-container .footer-link ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    line-height: 1rem;
}

#footer-container .footer-signup{
    padding: 0 1rem;
}

#footer-container .footer-signup .footer-btn{
    padding: 0.5rem 5rem;
    
}

#footer-container .footer-signup .btn-link {
text-decoration: none;
padding: 0.2rem 0.75rem;
background: maroon;
color: #fff;
border: none;
font-size: 12px;
border-radius: 2px;
}